argon2-cffi
asgiref
bcrypt
certifi
cffi
chardet
cryptography
defusedxml
Django
django-crispy-forms
Faker
idna
oauthlib
Pillow
pycparser
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
text-unidecode
urllib3
wincertstore
